// Custom colors
$primary: #490d81;
$info: #b5b1b8;
$single: #9505a8;
$triple: #000;
$deluxe: #f3f0f0;
$light: #faf9f6;

// Fully redefine the $theme-colors map:
$theme-colors: (
  'primary': $primary,
  'info': $info,
  'single': $single,
  'triple': $triple,
  'deluxe': $deluxe,
  'light': $light,
);

// enable negative margins
$enable-negative-margins: true;

// Fonts
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Roboto', sans-serif;

//Custom CSS
.shadow-theme {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.75);
}

.skill-icon {
  height: 80px;
  object-fit: contain;
  width: 9rem;
}

.project {
  height: 80px;
  object-fit: contain;
  width: 25rem;
}

.project img {
  height: 200px;
}

@import '../../node_modules/bootstrap/scss/bootstrap';

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #9505a8;
  border-color: #9505a8;
}

a.nav-link.text-hover:hover,
a.nav-link.text-hover:focus {
  color: #9505a8 !important;
  text-decoration: none;
}

a.nav-link.text-hover {
  transition: color 0.3s ease;
}

a.nav-link.text-hover-2:hover,
a.nav-link.text-hover-2:focus {
  color: #1cb8c9 !important;
  text-decoration: none;
}

a.nav-link.text-hover-2 {
  transition: color 0.3s ease;
}
.code-intro {
  font-family: 'Courier New', Courier, monospace;
  color: #9505a8;
  padding: 1.5rem;
  border-radius: 0.5rem;
  white-space: pre-wrap;

  /* Start hidden and moved slightly left */
  opacity: 0;
  transform: translateX(-150px);

  /* Animate to visible and in place */
  animation: fadeSlideIn 2.5s ease-out forwards;
}

.image-intro {
  /* Start hidden and moved slightly left */
  opacity: 0;
  transform: translateX(150px);

  /* Animate to visible and in place */
  animation: fadeSlideIn 2.5s ease-out forwards;
}

.code-intro h1,
.code-intro p {
  color: #9505a8;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-up {
  position: fixed;
  right: 0.1%;
  bottom: 10%;
  cursor: pointer;
}

.contact-form {
  width: 75%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .contact-form {
    width: 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
